body {
  padding: 10px;
}

img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;

  border-radius: 50%;
}

h3 {
  margin: 10px 0px 20px 10px;
}

h6 {
  margin-left: 15px;
  margin-bottom: 10px;
}

.user {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin: 5px 0px;
}

.user:hover {
  background: #38ada9;
  border: 1px solid black;
  transition: all 0.8s;
}

#found-users-area {
  padding: 5px;
  margin-right: 10px;
  width: 90%;
}

#filtered-users {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#statistics-area {
  padding: 5px;
  margin-right: 10px;
  width: 30%;
  height: 210px;
}

.bold {
  font-weight: bold;
}

#search-area {
  padding: 0 0 15px 0;
  border-bottom: 1px solid #e5e5e5;
}
